<% if(error) { %>
    <h2>Error</h2>
    <p><%= error %></p>
<% } %>

<% if(loggedIn) { %>
<form action="/logout" method="POST">
    Welcome, <%= user.email %>, <button class="button" type="submit">Logout</button>
</form>
<% } else { %>
<form action="/login" method="POST">
    <h1>Login</h1>
    <p>
        <label for='email'>Email</label>
        <input type='email' name='email'/>
    </p>
    <p>
        <label for='password'>Password</label>
        <input type='password' name='password'/>
    </p>
    <p><button type='submit'>Log In</button></p>
</form>
<% } %>
<hr/>