<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <% for(var shortURL in urls) {
     var longURL = urls[shortURL]
  %>
  <form method="POST" action="/urls/<%= shortURL %>/delete">
    <h3>
      <font color="Blue">
         <a href="/urls/<%= shortURL %>"><%= shortURL %></a> --> <%= longURL %>
      </font>
      <input type="submit" value="delete">
    </h3>
 </form>
  <% } %>
</body>
</html>
